<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{478,238}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{478,238}}</string>
                <key>sourceSize</key>
                <string>{482,238}</string>
            </dict>
            <key>Fish_2_0_DJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{524,197}}</string>
                <key>sourceSize</key>
                <string>{552,225}</string>
            </dict>
            <key>Fish_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,476},{466,230}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,230}}</string>
                <key>sourceSize</key>
                <string>{482,238}</string>
            </dict>
            <key>Fish_2_1_DJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{514,197}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{514,197}}</string>
                <key>sourceSize</key>
                <string>{552,225}</string>
            </dict>
            <key>Fish_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,242},{474,232}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,232}}</string>
                <key>sourceSize</key>
                <string>{482,238}</string>
            </dict>
            <key>Fish_2_2_DJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{506,209}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{506,209}}</string>
                <key>sourceSize</key>
                <string>{552,225}</string>
            </dict>
            <key>Fish_2_3_DJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{514,211}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{514,211}}</string>
                <key>sourceSize</key>
                <string>{552,225}</string>
            </dict>
            <key>fish_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,824},{105,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>fish_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{105,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,42}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>fish_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,824},{105,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>fish_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{105,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>fish_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{105,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0517e7c35c1fa265624e76e1f039f0e8:1/1$</string>
            <key>textureFileName</key>
            <string>Fish.png</string>
        </dict>
    </dict>
</plist>
