<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{765,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,71}}</string>
                <key>sourceSize</key>
                <string>{765,71}</string>
            </dict>
            <key>bottom_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,403},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bottom_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,357},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bottom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{213,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,19}}</string>
                <key>sourceSize</key>
                <string>{213,19}</string>
            </dict>
            <key>bottom_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,311},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bottom_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,265},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bullet.psd</key>
            <dict>
                <key>frame</key>
                <string>{{186,526},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,137},{24,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,27}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,632},{26,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,29}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,449},{28,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{28,31}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,233},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,201},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,169},{30,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,137},{30,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,479},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>cannon1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,767},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,757},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,826},{57,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,726},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,767},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,708},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,698},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,816},{57,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,639},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,708},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,573},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,72},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,785},{57,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,573},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,208},{61,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{61,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,661},{61,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,464},{61,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{61,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,598},{61,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,401},{61,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{61,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,573},{63,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{63,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,336},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{63,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,661},{63,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{63,78}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,336},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{63,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,271},{63,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{63,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,529},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,460},{67,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,639},{67,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{67,78}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,391},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,322},{67,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,232},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,142},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,137},{69,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{69,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,142},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,232},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon_buttom.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{220,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{220,106}}</string>
                <key>sourceSize</key>
                <string>{242,142}</string>
            </dict>
            <key>web_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,639},{125,109}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,66},{125,109}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{133,137}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,54},{133,137}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,468},{171,169}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,35},{171,169}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,303},{163,181}}</string>
                <key>offset</key>
                <string>{26,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,25},{163,181}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,110},{201,191}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{201,191}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{227,231}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{227,231}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_resource.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35f486d533f588218a1aa581cbfb7adb:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_resource.png</string>
        </dict>
    </dict>
</plist>
