<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinAni1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,64},{61,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{61,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{61,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{61,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{61,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{61,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,64},{55,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{55,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,171},{43,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{43,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,205},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{27,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,216},{15,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{15,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,205},{27,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{27,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{43,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{43,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,121},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{53,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{61,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{61,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{61,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,64},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{55,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{43,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,176},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{27,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{15,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{15,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,176},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{27,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{43,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinAni2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,121},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{53,60}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>coinText_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,234},{37,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{37,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,233},{25,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{25,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,273},{35,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{35,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,271},{35,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{35,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,234},{35,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{35,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{37,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{37,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{39,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{39,46}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,272},{37,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{37,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,233},{37,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{37,46}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,234},{35,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{35,44}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>coinText_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,280},{35,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{35,38}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin_resource.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3fbc952ee6df21c904b684416eebf07:1/1$</string>
            <key>textureFileName</key>
            <string>coin_resource.png</string>
        </dict>
    </dict>
</plist>
