<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{765,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,71}}</string>
                <key>sourceSize</key>
                <string>{765,71}</string>
            </dict>
            <key>bottom_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,720},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bottom_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,720},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bottom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{213,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,19}}</string>
                <key>sourceSize</key>
                <string>{213,19}</string>
            </dict>
            <key>bottom_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,687},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bottom_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,655},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>bullet.psd</key>
            <dict>
                <key>frame</key>
                <string>{{231,655},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,137},{24,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,27}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,163},{26,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,29}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,661},{28,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{28,31}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,606},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,574},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,542},{30,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,659},{30,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,638},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>cannon1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,602},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,596},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,689},{57,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,611},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,602},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,543},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,484},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,689},{57,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,425},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,543},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,366},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,307},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,630},{57,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,248},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,366},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>cannon4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,439},{61,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{61,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,376},{61,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,531},{61,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{61,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,313},{61,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,567},{61,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{61,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,248},{63,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{63,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,531},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{63,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,594},{63,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{63,78}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,531},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{63,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,502},{63,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{63,80}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,473},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,404},{67,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,542},{67,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{67,78}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,335},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,266},{67,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{67,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,92},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,182},{69,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{69,82}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>cannon7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,92},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>web_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,137},{125,109}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{125,109}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{133,137}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,54},{133,137}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,360},{171,169}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,35},{171,169}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,195},{163,181}}</string>
                <key>offset</key>
                <string>{26,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,25},{163,181}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{201,191}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{201,191}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>web_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{227,231}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{227,231}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_resource.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:027c6941f5420fd23180bb7b86724cc7:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_resource.png</string>
        </dict>
    </dict>
</plist>
